---
layout: base.njk
title: "Home"
---
<h1>Welcome to MyWebsite</h1>

<h2>Latest Artwork</h2>
{% for art in collections.gallery | slice(0,3) %}
  <div>
    <a href="{{ art.url }}">{{ art.data.title }}</a>
  </div>
{% endfor %}

<h2>Latest Blog Posts</h2>
{% for post in collections.blog | slice(0,3) %}
  <div>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </div>
{% endfor %}
