permalink: /index.html
layout: false
sitemap: false
eleventyExcludeFromCollections: true
---
<meta http-equiv="refresh" content="0; url=/home/">
<p>Redirecting to <a href="/home/">home</a>...</p>
